<div class="wrapper">
	<h1>Edit</h1>
	<div class="todo_list">
		<%= render 'form' %>
		
		<%= link_to 'Show', @todo_list %> |
		<%= link_to 'Back', todo_lists_path %>
		<br class="clear" />
	</div>


</div>

