.nav {
	background-color: #e15258;
	border-bottom: 7px solid #aaa;
	margin-bottom: 20px;
	padding: 10px 0 0 5px;
}

.nav h1 {
	float: left;
	margin: 0 50% 0 30px;
	color: #fff;
}

.nav a {
	text-decoration: none;
	color: #fff;
}

.nav ul {
	float: left;
	list-style: none;
	clear: right;
	margin: 0 0 0 1em;
	padding: 0;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	display: block;
	width: auto;
	padding: 8px 10px 8px 10px;
	background: #e15258;
	color: #ddd;
}

.nav ul li a:hover {
	background: #e15258  ;
	color: #fff;
}